@using BasketballTournamentSystem.Core.Models.Player
@model cloudscribe.Pagination.Models.PagedResult<PlayerViewModel>

    @{
    ViewData["Controller"] = "Player";
    ViewData["Action"] = "GetAllPlayers";
}


@if (Model.Data.Count > 0)
{
    <form action="GetAllPlayers" method="get">
        <div>
            <p>
                <input type="text" name="searchString" value="" placeholder="Search player" />
                <input type="submit" class="btn mb-1 btn-primary btn-sm" value="Search" /> |
                <a asp-action="GetAllPlayers">Remove filthers</a>
            </p>
        </div>
    </form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-b-30">
                <h4 class="d-inline">These are all the players</h4>
                <p class="text-muted">with no team of course</p>
                <div class="row">
                    @foreach (var player in Model.Data)
                    {
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="@player.ImageUrl" alt="" style="height: 400px;">
                                <div class="card-body">
                                    <h5 class="card-title">@player.Name</h5>
                                    <span class="badge badge-info">Speed: @player.Speed</span>
                                    <span class="badge badge-info">Stamina: @player.Stamina</span>
                                    <span class="badge badge-info">Scores: @player.Scores</span>
                                    <p class="card-text">
                                        <span class="badge badge-warning">Number: @player.Number</span>
                                    </p>
                                    <form method="post">
                                        <button asp-controller="Player" asp-action="PlayerDetails" asp-route-Id="@player.Id" class="btn mb-1 btn-rounded btn-info">Details</button>
                                        <button asp-controller="Player" asp-action="RemovePlayer" asp-route-Id="@player.Id" class="btn mb-1 btn-rounded btn-danger">Remove</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-b-30">
                <h4 class="d-inline">There are no players at the moment</h4>
            </div>
        </div>
    </div>
}
