@using BasketballTournamentSystem.Core.Models.Tournament
@model cloudscribe.Pagination.Models.PagedResult<TournamentViewModel>

    @{
    ViewData["Controller"] = "Tournaments";
    ViewData["Action"] = "GetAllTournaments";
}


@if (Model.Data.Count > 0)
{
    <form action="GetAllPlayers" method="get">
        <div>
            <p>
                <input type="text" name="searchString" value="" placeholder="Search team" />
                <input type="submit" class="btn mb-1 btn-primary btn-sm" value="Search" /> |
                <a asp-action="GetAllTeams">Remove filthers</a>
            </p>
        </div>
    </form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-b-30">
                <h4 class="d-inline">These are all the tournaments</h4>
                <div class="row">
                    @foreach (var tournament in Model.Data)
                    {
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="~/img/tournaments.jpg" alt="">
                                <div class="card-body">
                                    @if (tournament.Result.Contains("wins"))
                                    {
                                        <div class="badge badge-success">@tournament.Result</div>
                                    }
                                    else
                                    {
                                        <h4>@tournament.TeamOne.Name VS @tournament.TeamTwo.Name</h4>
                                        <h3>@tournament.TeamOne.Name Score: @tournament.TeamOneScore</h3>
                                        <h3>@tournament.TeamTwo.Name Score: @tournament.TeamTwoScore</h3>
                                        <form method="post">
                                            <div>
                                                <div>
                                                    <button asp-controller="Tournament" asp-action="AddOnePoint" asp-route-Id="@tournament.TeamOne.Id" asp-route-tId="@tournament.Id" class="btn mb-1 btn-rounded btn-sm btn-warning">@tournament.TeamOne.Name: +1</button>
                                                    <button asp-controller="Tournament" asp-action="AddThreePoints" asp-route-Id="@tournament.TeamOne.Id" asp-route-tId="@tournament.Id" class="btn mb-1 btn-rounded btn-sm btn-warning">@tournament.TeamOne.Name: +3</button>
                                                </div>
                                                <div>

                                                    <button asp-controller="Tournament" asp-action="AddOnePoint" asp-route-Id="@tournament.TeamTwo.Id" asp-route-tId="@tournament.Id" class="btn mb-1 btn-rounded btn-sm btn-success">@tournament.TeamTwo.Name: +1</button>
                                                    <button asp-controller="Tournament" asp-action="AddThreePoints" asp-route-Id="@tournament.TeamTwo.Id" asp-route-tId="@tournament.Id" class="btn mb-1 btn-rounded btn-sm btn-success">@tournament.TeamTwo.Name: +3</button>
                                                </div>
                                            </div>
                                            <button asp-controller="Tournament" asp-action="TournamentDetails" asp-route-Id="@tournament.Id" class="btn mb-1 btn-rounded btn-info">Details</button>
                                            <button asp-controller="Tournament" asp-action="RemoveTournament" asp-route-Id="@tournament.Id" class="btn mb-1 btn-rounded btn-danger">Remove Tournament</button>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 m-b-30">
                <h4 class="d-inline">There are no tournaments at the moment</h4>
            </div>
        </div>
    </div>
}